#app3{
    position: relative;
}
#trans{
    height: 100px;
    width: 100px;
    border: 1px solid red;
    position: absolute;
    top: 100px;
    left: 100px;
    transition: all 1s linear;
}
#trans.active{
    transform: translateX(200px);
}